<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>

	<body>
		<%- include('./partials/headerLogueado') %>

		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Agregar productos</h2>
				</div>
			
		<!-- Formulario -->
        
	<h2 class="col-12">
		<form class="form" action="/products/productsEdit/<%= id %>" method="POST">
            <div class="title">Actualizar Pelicula</div>
        
            <!-- <input type="hidden" name="id" value=""> -->
            <label for="email">Nombre Producto:</label>
            <input type="text" name="nombre_producto" value="<%= product.nombre_producto %>" />

            <label for="email">Descripcion:</label>
            <input type="text" name="descripcion_producto" value="<%= product.descripcion_producto %>"/>

            <label for="email">Imagen:</label>
        }   <input type="text" name="images" value="<%= product.images %>" />

            <button type="text" class="submit">Actualizar</button>
	</h2>
        <%- include('./partials/footer') %>
    </body>

</html>