<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
    <% if (locals.user != null) { %>
        <%- include('./partials/headerLogueado') %>
      <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
<!-- product detail -->
<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <% for( let i = 0; product.length; i++ ) { %>
            <h2 class="products-title"><%= product[i].nombre_producto %></h2> 
        <% } %>
        <p class="product-detail-descrption">
            <a href="/products/productsEdit/<%= product.id %>">Editar</a>
        </p>
        <!-- mail del usuario -->

    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <h2 class="products-title">
                    <%= product.nombre_producto %>
                </h2>
                    <img src=<%= product.images %> alt="fotoooooo" class="product-detail-img">
                    <p class="product-detail-description">
                        <%= product.descripcion_producto %>
                    </p>
                
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
                        <% for( let i = 0; i < product.comentarios.length; i++ ) { %>
                            <article>
                                <img src="<%= product.comentarios[i].usuarios.foto_perfil %>" alt="">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/profiles"><%= product.comentarios[i].usuarios.email %></a> </strong>
                                    <%= product.comentarios[i].texto_comentario %></p>
                                </div>
                            </article>
                        <% } %> 

                </section>
                <form class="form" action="/products/detail/<%= product.id %>" method="POST">
                    <input class="form-input" type="text" name="com" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- /product detail -->
<%- include('./partials/footer') %>
</body>
</html>